In [159]:
import numpy as np
import pandas as pd

In [179]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassengerId"]

In [161]:
data.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [182]:
def clean(data):
    data = data.drop(["HomePlanet", "Cabin", "Name", "PassengerId", "RoomService", "FoodCourt",
                      "ShoppingMall", "Spa", "VRDeck", "VIP"], axis=1)
    
    colms = ["CryoSleep", "Destination", "Age"]
    for colm in colms:
        data[colm].fillna(data[colm].median(), inplace=True)
       
        data.Destination.fillna("TRAPPIST-2G", inplace=True)
        data.Age.fillna("60", inplace=True)
        return data
       

data = clean(data)
test = clean(test)

In [183]:
len(data)

8693

In [184]:
#colms = ["CryoSleep", "Destination", "Age" , "VIP"]

#for colm in data.colms:
   # data.dropna(subset=[colm], inplace=True)
#data.head()

In [185]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

colms = ["CryoSleep", "Destination"]

for colm in colms:
    data[colm] = le.fit_transform(data[colm])
    test[colm] = le.transform(test[colm])
    print(le.classes_)

[False True]
['55 Cancri e' 'PSO J318.5-22' 'TRAPPIST-1e' 'TRAPPIST-2G']

In [186]:
data.head(5)

   CryoSleep  Destination   Age  Transported
0          0            2  39.0        False
1          0            2  24.0         True
2          0            2  58.0        False
3          0            2  33.0        False
4          0            2  16.0         True

In [187]:
test.head(5)

   CryoSleep  Destination   Age
0          1            2  27.0
1          0            2  19.0
2          1            0  31.0
3          0            2  38.0
4          0            2  20.0

In [243]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import QuantileRegressor
from sklearn.model_selection import train_test_split

In [231]:
y = data["Transported"]
X = data.drop("Transported", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [232]:
X_train

      CryoSleep  Destination   Age
2333          0            2  28.0
2589          0            2  17.0
8302          1            0  28.0
8177          0            2  20.0
500           1            0  36.0
...         ...          ...   ...
5734          0            2  18.0
5191          0            2  50.0
5390          0            1  22.0
860           0            2  34.0
7270          0            0  28.0

[6954 rows x 3 columns]

In [233]:
y_train

2333    False
2589    False
8302     True
8177     True
500      True
        ...
5734     True
5191    False
5390    False
860     False
7270    False
Name: Transported, Length: 6954, dtype: bool

In [234]:
#vns = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [220]:
from sklearn.linear_model import LinearRegression # (lr = LinearRegression)
lr = LinearRegression()
model_acc(lr)

LinearRegression()-->0.223668070832043

In [221]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [222]:
predictions = clf.predict(X_val)          
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7222541690626797

In [211]:
submission_pred = clf.predict(test)

In [212]:
 df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Transported": submission_pred,})

In [181]:
df.to_csv("1st_submission.csv", index=False)

In [264]:
clf2 =  LogisticRegression(C=1.0, max_iter=1000).fit(X_train, y_train)

In [265]:
predictions = clf2.predict(X_val)          
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7222541690626797

In [266]:
# menually created model checking sysytem !!

def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_val, y_val)
    print(str(model)+'-->'+str(acc)) #acc = accuracy

In [267]:
from sklearn.linear_model import LinearRegression # (lr = LinearRegression)
lr = LinearRegression()
model_acc(lr)

LinearRegression()-->0.223668070832043

In [268]:
# 2nd accuracy check WITH lASO
from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

Lasso()-->-9.9918345337624e-06

In [269]:
# 3rd accuracy check with DecisionTreeRegressor

from sklearn.tree import DecisionTreeRegressor 
dt = DecisionTreeRegressor()
model_acc(dt)

DecisionTreeRegressor()-->0.19057779105378814

In [270]:
# 4th accuracy check with DecisionTreeRegressor

from sklearn.ensemble import RandomForestRegressor  
rf = RandomForestRegressor()
model_acc(rf)

RandomForestRegressor()-->0.20997626822380722

In [271]:
from sklearn.linear_model import LogisticRegression # (lor = LogisticRegression)
lor = LogisticRegression()
model_acc(lor)

LogisticRegression()-->0.7222541690626797

In [272]:
from sklearn.linear_model import Perceptron # ()
gl = Perceptron()
model_acc(gl)

Perceptron()-->0.6940770557791834

In [281]:
model_acc(gl)

Perceptron()-->0.6940770557791834

In [284]:
submission_pred = gl.predict(test)

In [285]:
 df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Transported": submission_pred,})

In [286]:
df.to_csv("2st_submission.csv", index=False)

In [283]:
gl.predict(test)

array([ True, False,  True, ...,  True, False,  True])

In [320]:
clf3 = Perceptron(random_state=100, max_iter=1000).fit(X_train, y_train)

In [321]:
predictions = clf3.predict(X_val)          
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7222541690626797

In [322]:
submission_pred = clf3.predict(test)

In [324]:
 df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Transported": submission_pred,})

In [325]:
df.to_csv("3st_submission.csv", index=False)